<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <title></title><!--ブラウザのタブのタイトルを指定-->
    <link rel="stylesheet" href="/stylesheets/hello.scss">
  </head>
  <body><!--ページの見た目を作る部分-->
   <section class="hello1">
    <div class="hello-text1">
     <h2>行こう<br>君の知らない<br>景色へ</h2>
    </div>
   </section>
   <section class="hello2">
      <image src="/images/header2.jpg" class="hello2-image">
      <div class="hello-text2">
       <h1>自転車旅に出かけよう。</h1>
       <p>自転車旅の魅力はその柔軟性の高さ。<br>景色を見るために立ち止まるのも、<br>気になる場所にふらっと立ち寄るのもあなたの自由です。
        <br>誰かと同じ場所に行っても、何を楽しむかはあなた次第。<br>逸れた道の先に誰も知らない絶景が広がっているかもしれません。
        <br>そんなあなただけの旅の思い出を、だれかに伝えてみませんか？
       </p>
      </div>
   </section>

   <section class="about">
    <div class="abouttour">
     <div class="box1">
      <p>ツアー一覧</p>
     </div>
     <a href="tours"><image src="/images/tour.jpg" class="tourimage"></a>
     <a href="tours" class="btn btn-border">詳しくはこちら</a>
    </div>
    <div class="aboutcamp">
     <div class="box2">
      <p>宿泊先一覧</p>
     </div>
     <a href="camps"><image src="/images/camp.jpg" class="campimage"></a>
     <a href="camps" class="btn btn-border">詳しくはこちら</a>
    </div>
   </section>
  </body>
</html>